html, body, #container {
    margin: 0;
    padding: 0;
    height:100%;
}
body{
	position: relative;
	font-family:"arial" helvetica;
}
a{
	text-decoration:none;
	cursor: pointer;
}
#container{
	height:auto;
	min-height:100%;
}
.header{
	background-color:#D6D8D6;
	height:52px;
}
.blogname,.new_post{
	float:left;
}
.blogname a{
	margin-top: 0px;
	text-align:left;
	margin-right: 10px;
	font-size:42px;
	color:#308C2E;
	font-family: "arial", "sans";
	font-weight: bold;
}
.blogname a:hover{
	color:#0F590E;/*
	font-size:2.7em;*/
}
.new_post{
	margin-top:12px;
	margin-left:5px;
	height:30px;
	width: 30px;
}/*
.new_post:hover{
	margin-top:5px;
	width:37px;
	height:40px;
}*/
.new_post #popup_new_post{
	display:none;
}
.new_post:hover #popup_new_post{
	display: block;
	background: #E0C816;
	height:1.2em;
	width:8em;
	border:1px solid black;
	font-size:.8em;
}
.logout a{
	float:right;
	margin-top:7px;
	margin-right:5px;
	height:30px;
	width: 30px;
}
.logout a:hover{
	text-decoration:underline;
	color: #0F590E;/*
	height:35px;
	width:35px;*/
}
.signup a{
	float:right;
	color:#308C2E;	
	padding-top: 15px; 
	margin-right:.5%;
	font-weight: bold;
	font-family: "helvetica";
}
.signup a:hover{
	text-decoration:underline;
	color: #0F590E;/*
	font-size:18px;*/
}
.login a{
	float:right;
	color:#308C2E;
	padding-top: 15px; 
	margin-right:.5%;	
	font-weight: bold;
	font-family: "helvetica";
}
.login a:hover{
  text-decoration:underline;
  color: #0F590E;/*
  font-size:18px;*/

}
.username a{
	float:right;
	color:#308C2E;
	padding-top: 15px; 
	margin-right:.5%;
	font-weight: bold;
	font-family:"helvetica";
}
.username a:hover{
	text-decoration:underline;
	color: #0F590E;
}
#menu{
	margin-top:1%;
	margin-left:5%;
}
/**/
#blogname_post_container, #hello_user_total_likes{
	float:left;
}
#post_container, #total_likes{
	float:left;
}
#total_likes{
	width:20%;
}
#blogname_post_container{
	width:80%;
}
.like_pic img{
	margin-top:3px;
}
#blogname_like_pic{
	padding-top:20px;
}
#total_likes img{
	height:40px;
	width:40px;
}
#about_wrapper{
	margin-top:5%;
	margin-left:5%;
	margin-right:5%;
	padding-bottom:7em;
	height:100%;
}
#about_wrapper #heading_recent_posts{
	font-size:30px;
	margin-bottom:8px;
}
#post_container{
	width:80%;
}
#about_wrapper #post_container a:hover{
	text-decoration:underline;
}
#post_container p{
	font-weight:italic;
	margin-left:20px;
	margin-top:.5%;
	color: #404040;
}
.blogname_comment_count, .blogname_like, .blogname_like_pic, .blogname_comment_icon{
	float:left;
}
.blogname_comment_count{
	display: inline-block;
	color:green;
	font-family:"arial";
	font-weight:bold;
	width:7%;
	margin-top:10%;
}
.blogname_like{
	display: inline-block;
	color:green;
	font-weight:bold;
	font-family:"arial";
	width:15%;
	text-align:center;
	margin-top:10%;
}
.blogname_like_pic{
	display: inline-block;
	width:20%;
	margin-top:5%;
}
.blogname_comment_icon{
	display: inline-block;
	margin-top:4%;
}/*
#blogname_tag1{
	border:1px solid blue;
	padding:.1%;
	margin-right:.5%;
	background:#5492D0;
}
#blogname_tag1 a{
	font-size:.9em;
	color: #fff;
}
#blogname_tag2{
	border:1px solid blue;
	padding:.3%;
	margin-right:.5%;
	background:#5492D0;
}
#blogname_tag2 a{
	color: #fff;
}
#blogname_tag3{
	border:1px solid blue;
	padding:.3%;
	margin-right:.5%;
	background:#5492D0;

}
#blogname_tag3 a{
	color: #fff;
}*/
/****************************************************************************/
/* DONE PAGE */
/****************************************************************************/

#previous{

}
/******************************************************************************************************************/
.new_wrapper{
	margin-left:5%;
	margin-right:25%;
	padding-bottom:7em;
}
.wrapper{
	margin-left:15%;
	margin-right:15%;
	/*border: 1px solid red;*/
}
.why_this_blog{
	border-style:solid;
	margin-top:10%;

	border-radius:10px;
	border-bottom: 4px solid #727170;
	border-top:10px solid #727170;
	border-left:4px solid #727170;
	border-right:4px solid #727170;
	margin-left:5%;
	margin-right:5%;
	padding: 10px;
	height:60%;
}
#footer{
	clear: both;
	position: relative;
	z-index:10;
	height: 3em;
	margin-top: -3em;
	background-color:#2A7405;
/*
	margin-top:1%;
	background-color:#404040;
	position: absolute;
	bottom: 0;
	width: 99.9%;*/
/*	height:30px;
*/}
#footer{
	margin-bottom:0%;
	border: 1px solid #153C02;
	text-align:center;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	text-decoration:underline;
}
/***************************************************************************************************/
/* HELLO_USER*/
/***************************************************************************************************/

img{
	height:100%;
	width:100%;
	z-index: 3;
}
.image{
	text-align:center;
	display: block;
	margin-left:5%;
	margin-right:5%;
	/*border:3px solid #727170;*/
	border-radius:10px;
}
.image #popup_change_image{
	display:none;
}

	
/*************************************************************************************************/
/*page styles for login.html*/
div.loginpage{
	text-align:center;
	margin-top:20%;
}
.loginpage_error{
	color: red;
}
/*************************************************************************************************/
/*page styles for signup.html*/
.signuppage_signup{
	display:block;
	text-align:center;
	margin-top:15%;
}
.label {
  text-align:left;
  /*font-size:20px;*/

}
.signup_error{
	color:red;
}
.wrapper form input[type = text] {
	background: #F0F0F1;
	height:30px;
	border:1px solid black;
	padding:5px;
}
.wrapper form input[type = password]{
	background: #F0F0F1;
	height:30px;
	border:1px solid black;
	padding:5px;
}
/*************************************************************************************************/
/*page style for new.html*/
textarea{
	resize:none;
	padding-top:5px;
	padding-bottom:2px;
}
.new_preview{
	/*margin-left:10%;
	margin-top:5%;*/
	margin-top:10%;
	border-radius:10px;
	border-bottom: 4px solid #DAD8D6;
	border-top:10px solid #DAD8D6;
	border-left:4px solid #DAD8D6;
	border-right:4px solid #DAD8D6;
	/*margin-left:10%;*/
	/*margin-right:10%;*/
	padding: 10px;
}
.new_post_error{
	color: red;
}
.upload_submit_preview{
	margin-top:5px;
	text-align: center;
}
#new_no_of_chars_left_title{
	font-weight:bold;
	color: gray;
}
#new_tag_message{
	font-weight:bold;
	color: gray;
}
#tips_for_creating_a_good_page{
	position:absolute;
	right:0;
	top:100;
	width:200px;
	height:450px;
	background:#2A7405;
	color:#fff;
	border-radius:10px;
	padding:15px;
}
#show_tips{
	position: absolute;
	height:40px;
	right:0;
	top:100;
	background:#2A7405;
	color:#fff;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	display:none;
}
#arrow_button{
	display:table-cell;
	vertical-align:middle;
}
/***********************************************************************************************/
/*this styes the done page*/
/*.done_wrapper{
	margin-left:15%;
	margin-right:35%;
	border: 1px solid red;
/*	height:100%;
}*/
.doneposts,.voting{
	float: left;
}
.doneposts{
	width:40%;
	border: 1px solid red;
}
.voting{
	width:40%;
/*	width:10px;
	height:10px;*/
	border: 1px solid red;
}
/***************************************************************************************************/
/* TAGS PAGE   */
/**************************************************************************************************/


#search_output{
	margin-left:1%;
	margin-top:1%;
	margin-right:1%;
}
#tags_tag{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#tags_tag a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#tags_tag:hover{
	background:#074480;
}
#tags_tag:hover a{
	color:#fff;
}



/****************************************************/
/*TESTING*/

/*hello_user*/
/*appended every id and classname not beginning with 'hello_user_' with
'hello_user_'
*/
#hello_user_wrapper1{
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 7em;
	/*border:3px solid blue;*/
}

#hello_user_inner1{
	/*border:3px solid gray;*/
}
#hello_user_whos_page{
	font-size:20px;
	font-weight:bold;
	color:#062A8E;
}
.hello_user_one, .hello_user_two{
float:left;
}
#hello_user_inner1 .hello_user_one img{
	height:20%;
	width:90%;
}
.hello_user_one{
background:red;
/*height:50px;*/
width:15%
}
.hello_user_two{
background:green;
height:50px;
width:85%
}
/*.hello_user_three{
background:blue;
}*/
#hello_user_four, #hello_user_five{
	float:left;
}
#hello_user_inner2{
	/*border:3px solid black;*/
}
#hello_user_four{
	width:80%;
	/*background:orange;*/
}
#hello_user_four span{
	display:inline-block;
}
#hello_user_four .hello_user_title1{
	margin-left:10px;
	width:80%;
}
#hello_user_four .hello_user_title1 a{
	font-size:1.3em;
	font-weight:bold;
	font-family:"arial";
}
#hello_user_four .hello_user_title1 a:hover{
	text-decoration:underline;
}
#hello_user_four .hello_user_author1{
	float:right;
	/*width:19%;*/
}
#hello_user_four .hello_user_author1 a{
	text-align:center;
	/*color:#1C6ED2;*/
	font-weight:bold;
	font-family:'arial';
}

#hello_user_four #hello_user_tag1{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#hello_user_four #hello_user_tag1 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#hello_user_four #hello_user_tag1:hover{
	background:#074480;
}
#hello_user_four #hello_user_tag1:hover a{
	color:#fff;
}
#hello_user_four #hello_user_tag2{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#hello_user_four #hello_user_tag2 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#hello_user_four #hello_user_tag2:hover{
	background:#074480;
}
#hello_user_four #hello_user_tag2:hover a{
	color:#fff;
}
#hello_user_four #hello_user_tag3{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#hello_user_four #hello_user_tag3 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#hello_user_four #hello_user_tag3:hover{
	background:#074480;
}
#hello_user_four #hello_user_tag3:hover a{
	color:#fff;
}
/*
#hello_user_four #hello_user_tag1{
	margin-left:10px;
	background: #77ADE2;
	padding:2px;
	border:1px solid blue;
}
#hello_user_four #hello_user_tag1 a{
	color: #fff;
	padding-left:3px;
	padding-right:3px;
}
#hello_user_four #hello_user_tag1:hover{
	background: #074480;
}
#hello_user_four #hello_user_tag2{
	margin-left:10px;
	background: #77ADE2;
	padding:2px;
	border:1px solid blue;
}
#hello_user_four #hello_user_tag2 a{
	color: #fff;
	padding-left:3px;
	padding-right:3px;
}
#hello_user_four #hello_user_tag2:hover{
	background: #074480;
}
#hello_user_four #hello_user_tag3{
	margin-left:10px;
	background: #77ADE2;
	padding:2px;
	border:1px solid blue;
}
#hello_user_four #hello_user_tag3 a{
	color: #fff;
	padding-left:3px;
	padding-right:3px;
}
#hello_user_four #hello_user_tag3:hover{
	background: #074480;
}*/
#hello_user_date{
	float:right;
	color: gray;	
}
#hello_user_five{
	width:18%;
	/*background:yellow;*/
	margin-top:1.5%;
	margin-left:2%;
	/*padding:1px;*/
}
#hello_user_five_one, #hello_user_five_two, #hello_user_five_three, #hello_user_five_four, #hello_user_five_five, #hello_user_five_six{
	float:left;
}
#hello_user_five img{
	height:30px;
	width:30px;
}
#hello_user_five_one{
	margin-top:3%;
	width:10%;
	text-align:center;
	color:#0F590E;
	font-weight:bold;
}
#hello_user_five_three{
	margin-top:3%;
	width:10%;
	text-align:center;
	color:#CF0404;
	font-weight:bold;
}
#hello_user_five_five{
	margin-top:3%;
	width:10%;
	text-align:center;
	color:#0F590E;
	font-weight:bold;
}
#hello_user_prev, #hello_user_next{
	float:left;
}
#hello_user_inner3_left, #hello_user_inner3_right{
	float:left;
}
#hello_user_inner3_left{
	width:90%;
}
#hello_user_inner3_right{
	width:10%;
}

/*************************************************************/
/*blogname_page*/
/* THE SAME STYLES IN HELLO_USER IS APPLIED TO BLOGNAME. ONLY CHANGE IS THAT 'hello_user_' is replaced by 'blogname_'*/
/*The same style is applied to recent, all_time_great and trending pages also.*/

#search_wrapper1{
	margin-top: 2%;
	margin-left:1%;
	margin-right:1%;
	/*border:2px solid black;*/
	padding-bottom:7em;
}
#tags_inner1{
	/*border:2px solid gray;*/
}
#blogname_wrapper1{
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 7em;
	/*border:3px solid blue;*/
}
#recent, #trending, #all_time_great, #tags, #search_area{
	float: left;
	
	font-family:"arial";
	font-weight:bold;
}
#recent, #trending, #all_time_great, #tags{
	border:1px solid blue;
}
#recent{
	padding:.5%;
	margin-right:1%;
	color: #fff;
	background:#308C2E;
}
#recent a{
	color: #fff;
}
#recent:hover{
	background: #193D62;
	cursor: pointer;
}
#trending{
	padding:.5%;
	margin-right:1%;
	color: #fff;
	background:#308C2E;	
}
#trending:hover{
	background: #193D62;
	cursor: pointer;
}
#trending a{
	color: #fff;
}
#all_time_great{
	padding:.5%;
	margin-right:1%;
	color: #fff;
	background:#5492D0;
}
#all_time_great:hover{
	background: #193D62;
	cursor: pointer;
}
#all_time_great a{
	color: #fff;
}
#tags{
	padding:.5%;
	margin-right:1%;
	color: #fff;
	background:#5492D0;	
}
#tags:hover{
	background: #193D62;
	cursor: pointer;
}
#tags a{
	color: #fff;
}
#search_area{
	float:right;
	/*margin-left:30%;*/
	/*border:1px solid blue;*/
	/*width:50%;*/
}

#blogname_inner1{
	/*border:3px solid gray;*/
}
.blogname_one, .blogname_two{
float:left;
}
#blogname_inner1 .blogname_one img{
	height:20%;
	width:90%;
}
.blogname_one{
background:red;
/*height:50px;*/
width:15%
}
.blogname_two{
/*background:green;*/
height:50px;
width:85%
}
.blogname_three{
/*background:blue;*/
}
#blogname_four, #blogname_five{
	float:left;
}
#blogname_four:hover{
	background:#DADADA;
	border-radius:5px;
}
#blogname_inner2{
	/*border:3px solid black;*/
}
#blogname_four{
	width:70%;
	/*background:orange;*/
	height:10%;
	padding-top: 15px;
	padding-left:8px;
	padding-right:8px;
}
#blogname_four span{
	display:inline-block;
}
#blogname_four .blogname_title1{
	width:80%;
}
#blogname_four .blogname_title1 a:link{
	font-weight:bold;
	font-family:"arial";
	color:#083C67;
}
#blogname_four .blogname_title1 a:hover{
	text-decoration:underline;
}
#blogname_four .blogname_title1 a:visited{
	/*text-decoration:underline;*/
	color:#7A7B7C;
}
#blogname_four .blogname_author1{
	/*width:19%;*/
	float:right;
}
#blogname_four .blogname_author1:hover{
	text-decoration:underline;
}
#blogname_four .blogname_author1 a{
	text-align:center;
	/*color: #1C6ED2;*/
	font-family:"arial";
	font-weight:bold;
	cursor:pointer;
}
#blogname_four #blogname_tag1{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#blogname_four #blogname_tag1 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#blogname_four #blogname_tag1:hover{
	background:#074480;
}
#blogname_four #blogname_tag1:hover a{
	color:#fff;
}
#blogname_four #blogname_tag2{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#blogname_four #blogname_tag2 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#blogname_four #blogname_tag2:hover{
	background:#074480;
}
#blogname_four #blogname_tag2:hover a{
	color:#fff;
}
#blogname_four #blogname_tag3{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#blogname_four #blogname_tag3 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#blogname_four #blogname_tag3:hover{
	background:#074480;
}
#blogname_four #blogname_tag3:hover a{
	color:#fff;
}
#blogname_date{
	color: gray;	
	float:right;
}
#blogname_five{
	width:18%;
	/*background:yellow;*/
	margin-top:1.5%;
	margin-left:2%;

	/*padding:1px;*/
}
#blogname_five_one, #blogname_five_two, #blogname_five_three, #blogname_five_four, #blogname_five_five, #blogname_five_six{
	float:left;
}
#blogname_five img{
	height:30px;
	width:30px;
}
#blogname_five_one{
	margin-top:3%;
	width:10%;
	text-align:center;
	color:#0F590E;
	font-weight:bold;
}
#blogname_five_three{
	margin-top:3%;
	width:10%;
	text-align:center;
	color:#CF0404;
	font-weight:bold;
}
#blogname_five_five{
	margin-top:3%;
	width:10%;
	text-align:center;
	color:#0F590E;
	font-weight:bold;
}
#blogname_prev, #blogname_next{
	float:left;
}
#blogname_inner3_left, #blogname_inner3_right{
	float:left;
}
#blogname_inner3_left{
	width:90%;
}
#blogname_inner3_right{
	width:10%;
}

/**************************************************/
/*donepage*/
/*THE LAYOUT IS EXACTLY LIKE THAT OF THE RECENT, BLOGNAME etc*/
#done_title_contents{
	/*border:2px solid black;*/
}
#done_date{
	float:right;
	color:gray;
}
#done_author_share{
	/*border:2px solid orange;*/
}
#done_share_button, #done_author{
	float:left;
}
#done_share_button{
	width:70%;
}
#done_author{
	/*width:49%;*/
	/*height:20%;*/
	/*border:1px solid green;*/
	text-align:right;
	color: #0A4C9C;
	font-weight:bold;
	font-family:"arial";
}
#done_author:hover{
	cursor:pointer;
	text-decoration:underline;
}
#done_author a{
	/*font-weight:bold;*/
	/*padding-top:1%;*/
}
#done_wrapper{
	margin-top:1%;
	margin-left:15%;
	margin-right:25%;
	padding-bottom:7em;
}
#done_wrapper hr{
	margin-top:2px;
	margin-bottom:2px;
}
#done_title{
	font-weight: bold;
	margin-top: 10px;
	font-size:30px;
}
#done_tag1, #done_tag2, #done_tag3{
	float:left;
}

#done_tag1{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#done_tag1 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#done_tag1:hover{
	background:#074480;
}
#done_tag1:hover a{
	color:#fff;
}
#done_tag2{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#done_tag2 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#done_tag2:hover{
	background:#074480;
}
#done_tag2:hover a{
	color:#fff;
}
#done_tag3{
	margin-left:10px;
	background: #77ADE2;
	border:1px solid blue;
	font-size:.9em;
}
#done_tag3 a{
	padding-left:3px;
	padding-right:3px;
	color:#000;
}
#done_tag3:hover{
	background:#074480;
}
#done_tag3:hover a{
	color:#fff;
}
#done_content{
	margin-top:4%;
	margin-bottom:2%;
}
#done_subject{
	color: #404040;
	font-size:20px;
}
#author{   
	float:right;
	margin-right:10px;
	padding:20px;
	clear:right;
	width: 130px;
	text-align: center;
	background: #E4E4E4;
	border-radius:10px;
}
#done_comments{
	margin-left:1%;
	margin-top:2%;
	margin-right:25%;
}
#done_comment{
	margin-right:2%;
	margin-left:2%;
	padding-left:2%;
	padding-right:2%;
	padding-top:3%;
	padding-bottom:3%;
	background-color:#D6D8D6;
	color:#404040;
	margin-top:3px;
	margin-bottom:3px;
	font-family:"serif";
	font-size:15px;
	border-radius:8px;
}
#done_comments textarea{
	margin-top:1em;
	margin-bottom:.5em;
	margin-left:2%;
	width:49em;
	height:14em;
}
#commenter{
	float:right;
	margin-right:2%;
	margin-top:-2%;
	color:#513737;
	font-family:"arial";
}
#commenter:hover{
	cursor:pointer;
	text-decoration:underline;
}
#like_area{
	position: absolute;
	top:20%;
	right:15%;
}

#like_button form input[type = submit]{
	background: url("/static/images/thumbsup.png") no-repeat center;
	height:50px;
	width:50px;
	border:none;
	color:transparent;
}
#like_button form input[type = submit]:hover{
	cursor:pointer;
}
#no_logged_in_like{
	background: url("/static/images/thumbsup.png") no-repeat center;
	height:50px;
	width:50px;
	border:none;
	color:transparent;
}
#no_logged_in_like:hover{
	cursor:pointer;
}
#unlike_button form input[type = submit]{
	background: url("/static/images/thumbsdown.png") no-repeat center;
	height:50px;
	width:50px;
	border:none;
	color:transparent;
	margin-top:20px;
}
#unlike_button form input[type = submit]:hover{
	cursor:pointer;
}
#no_logged_in_unlike{
	background: url("/static/images/thumbsdown.png") no-repeat center;
	height:50px;
	width:50px;
	border:none;
	color:transparent;
	margin-top:20px;
}
#no_logged_in_unlike:hover{
	cursor:pointer;
}
#like_count{
	text-align:center;
	font-weight:bold;
	color:green;
	font-family:"arial";
}
#submit_comment form input[type = submit]{
	background: url("/static/images/submitButton.png") no-repeat center;
	height:25px;
	width:70px;
	border:none;
	margin-left:20px;
	color:transparent;
}
#submit_comment form input[type = submit]:hover{
	cursor:pointer;
}
#no_logged_in_submit{
	background: url("/static/images/submitButton.png") no-repeat center;
	height:25px;
	width:70px;
	border:none;
	margin-left:20px;
	color:transparent;
}
#no_logged_in_submit:hover{
	cursor:pointer;
}
/************************************************************************/
/*LOGIN PROMPT*/
/***********************************************************************/
#prompt{
	position: absolute;
	top:20%;
	left:25%;
	height:50%;
	width:50%;
	border:15px solid #084974;
	border-radius:10px;
	/*filter: alpha(opacity = 50);*/
	opacity: 0.5;
	display:none;
}
#login_prompt{
	position:absolute;
	top:10%;
	left:20%;
	height:60%;
	width:50%;
	border:15px solid #308C2E;
	border-radius:10px;
	background:#DDE1E5;
}
#close_button:hover{
	cursor: pointer;
}
#login_prompt #close_button{
	height:15%;
	width:20%;
	float:right;
}
#login_message{
	text-align:center;
	margin-top:10%;
}
#login_message table{
/*	align:center;*/
/*NOT DONE USING CSS. INBUILT STYLE*/
}
#signup_message{
	margin-bottom:2%;
	text-align:center;
}

/******************************************************************/
/*LOGIN PAGE*/
/*****************************************************************/
#login_wrapper{
	text-align:center;
	margin-top:15%;
}
#login_username{
	/*font-size:20px;*/
}
#login_password{
	/*font-size:20px;*/
}
#login_wrapper form input[type = text]{
	/*width:250px;	*/
	height:30px;
	background:#F0F0F1;
	/*font-size:20px;*/
	/*font-weight:bold;*/
	border:1px solid black;
	padding:5px;
}
#login_wrapper form input[type = password]{
	/*width:250px;	*/
	height:30px;
	background:#F0F0F1;
	border:1px solid black;
	padding:5px;
}
#login_wrapper #loginpage_error{
	color:red;
}
/***********************************************/
/*PASSWORD RESET*/
/********************************/

#password_reset_wrapper form input[type = text]{
	height:30px;
	background:#F0F0F1;
	border:1px solid black;
	padding:5px;

}
#password_reset_wrapper form input[type = password]{
	text-align:center;
}
/*****************************************************/
/*ALL PEOPLE PAGE*/
#search_people a{
	float:left;
/*	font-family:"helvetica Neue" arial;
*/	font-weight:bold;
	margin-right:10px;
}
#search_people a:hover{
	text-decoration:underline;
}
#search_people a:link{
	color:#083C67;
}
#search_people a:visited{
	color:#7A7B7C;
}
#search_people #people_specific{
	float:left;
/*	font-family:"helvetica Neue" arial;
*/	font-weight:bold;
	color:#083C67;	
}
#search_people #people_specific:hover{
	text-decoration:underline;
}
/********************************************************/
/* ALL TAGS PAGE */

#search_tags a:visited{	
	float:left;
	background:#CFD2CF;
	color: #011B30;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	margin-right:10px;
/*	font-family:"helvetica Neue";
*/}
#search_tags a:link{
	float:left;
	background:#E7FFEC;
	color:#011B30;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	margin-right:10px;
/*	font-family:"helvetica Neue";
*/}
#search_tags a:hover{
	background:#2A7405;
	color:#fff;	
}
#search_tags #specific {
	float:left;
	background:#E7FFEC;
	color:#011B30;
	margin-right:10px;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
/*	font-family:"helvetica Neue";
*/}
#search_tags #specific:hover{
	background:#2A7405;
	color:#fff;
}/*
#search_tags:hover #somediv{
	display:block
}*/
#search_tags{
	position: relative;
}
#somediv1{
	position:absolute;
	left:30px;
	top:20px;
	z-index:1;
	display: none;
	background:#000;
	color:#fff;
	display: none;
}
#somediv2{
	position:absolute;
	left:30px;
	top:20px;
	z-index:1;
	display: none;
	background:#000;
	color:#fff;
	display: none;
}
#somediv3{
	position:absolute;
	left:30px;
	top:20px;
	z-index:1;
	display: none;
	background:#000;
	color:#fff;
	display: none;
}

/*THIS IS WORKING WELL. COPY AND PASTE IT AT OTHER OCCURENCES OF LINKS*/

/***********************************************************/
/*WELCOME PAGE*/
#welcome{
	color:#fff;
	background:#2A7405;
	padding:20px;
	border-radius:10px;
}
#welcome #site_name{
	color:#fff;
	background:#2A7405;
	font-size:50px;
}
#welcome_login{
	width:150px;
	height:30px;
	background:#E1F906;
	text-align:center;
	padding-top:1%;
	font-weight:bold;
	border-radius:10px;
}
#welcome_login:hover{
	background:#AFC10C;
	cursor:pointer;
}
#welcome_login a:link{
	color:#000;
}
#welcome_login a:visited{
	color:#000;
}
#twitter, #facebook{
	float:left;
}

