<html>
	<head>
		<title>
			About me and my website
		</title>
	</head>
	<body>
		<h2> About the website </h2>
		<p>
			Hi, this blog is for those who find the facebook post area and the 140 characters in twitter too small to 
			express themselves. You can share your ideas, thoughts, views and anything and everything in writing
			and share with the world. What you write down will be shared to the public and you can hear what they have
			to tell about it. 
		</p>
		<p>  
			Unlike they do in most of the blogging platforms, we take out all the technicalities of maintaining the 
			blog from you. All you need to know is how to use a keyboard and mouse. It is as simple as that. 
		</p>
		<p>
			We take out the 'messi' html stuff from you and the site is clean - as clean as it can be.
			Our service is free of cost and it always will be.
		</p>

		<h2> About us </h2>
		<p> At present there is only one person behind "the website name". So I am the 'we' that we mentioned above.
			And my name is Emil Joswin. I love building things with computers. So this was a pet project which I 
			started after my college exams. 
		</p>

		<p>	This is my first time experience with websites. I haven't build a website before and I seriously have no 
			clue how this would turn out to be. I did it becaue it was fun doing and also I thought it would be 
			useful to atleast a handful of people.
		</p>

		<p>	 So, why dont you just <a href="http://pagevista.appspot.com/signup">sign up</a> and get started. :)			 
		</p>
		<p>	 I am expecting your comments and views regarding the site.<br>
		 You can contact me at ejoswin@gmail.com
		</p>
		<p>
			Also, you can find some of my other projects <a href = "https://github.com/emiljoswin">here</a>
		</p>

	<body>		
</html>