<html>
	<head>
		<title>PasswordReset</title>
	</head>
	<body>
			<div id = "password_reset_wrapper">
				<form name = "password_rest" method = "post">
					<table >
						<tr>
							<td>Username:</td>
							<td><input type = "text" name = "username" value = "{{username}}" ></td>
						</tr>
					</table>
					<input type = "submit" value = "Mail me password_reset_link">
				</form>
				<div id = "error">{{error}}</div>
				Go <a href="http://pagevista.appspot.com/welcome">home</a>
			</div>

	
	</body>
</html>