<html>
	<LINK rel="stylesheet" type="text/css" href="/static/about.css">
	<script type="text/javascript">
		function popAlert(){
				// arrCookies = document.cookie;
				// alert(arrCookies);
				document.getElementById('login_prompt').style.display = "block";
		}
		function closeWindow(){
					document.getElementById('login_prompt').style.display = "none";
		}

	</script>
	<title> Search </title>

	<body>
		<div id = "container">
			<div class = "header">
				<div class = "blogname"><a href="http://pagevista.appspot.com/welcome">pageVista</a></div>
					<div class = "new_post">
	  		    		<a href="http://pagevista.appspot.com/new"><img src="/static/images/write-icon.jpg"></a>
  			    		<div id = "popup_new_post" >Write a new post</div>
  	    			</div>
				<div class = "logout">
					{% if logout %}
						<a href="http://pagevista.appspot.com/logout"><img src="/static/images/logout.png"></a>
					{% endif %}
				</div>  	    	
				<div class = "signup"><a href="http://pagevista.appspot.com/signup">{{signup}}</a></div>
				<div class = "login"><a href="http://pagevista.appspot.com/login">{{login}}</a></div>
				<div class = "username">
					<a href = "http://pagevista.appspot.com/hello_user/{{username}}">{{username}}</a>
				</div>
	 		</div>
	 			<div id = "blogname_wrapper1">
	 				<!-- <h3>Search page</h3> -->
  					<div id = "blogname_inner1">
 						<div id = "recent">
 							<a href="http://pagevista.appspot.com/recent">Recent</a>
 						</div>
 						<div id = "trending" >
 							<a href="http://pagevista.appspot.com/trending">Trending</a>
 						</div>
 						<div id = "recent" >
 							<a href="http://pagevista.appspot.com/tags" >All Tags</a>
 						</div>
 						<div id = "recent" >
 							<a href="http://pagevista.appspot.com/people">All people</a>
 						</div>
 					<!-- 	<div id = "all_time_great">
 							<a href="http://pagevista.appspot.com/all_time_great">All Time great</a>
 						</div> --><!-- 
 						<div id = "tags">
 							<a href="http://pagevista.appspot.com/tags">Tags</a>
 						</div> -->
 						<div id = "search_area">
	 						<form name = "search_box" method = "post">
	 							<!-- <input type="radio" name="sex" value="male" /> -->
	 							<input type ="radio" name = "tags_or_people" value = "tags" checked="checked" />Tags
	 							<input type ="radio" name = "tags_or_people" value = "people" />People
 								<input type = "text" name = "search_key" value = "{{search_key}}"/>
		 							<input type = "submit" name = "tag_search" value = "Search"/>
	 						</form>
	 					</div> 
 						<div style = "clear:both"></div>
 					</div>
		 			<div id = "search_output">
		 				<hr>

		 				{% if not tags %}
		 					Sorry! No results found, please refine your search
		 				{% endif %}

		 				{% if display_tag %}
		 				
		 					{% for i in tags %}
		 						{% if username %}
 								<span id = "search_tags" ><a href="http://pagevista.appspot.com/tag/{{i}}">{{i}}</a></span>
	 							{% else %}
	 							<span id = "search_tags"><a onClick = "popAlert();"><span id = "specific">{{i}}</span></a></span>
 								{% endif %}
	 						{% endfor %}	 		
	 					{% endif %}

	 					{% if display_people %}
	 					
	 						{% for i in tags %}
	 							{% if username %}
	 							<span id = "search_people" ><a href="http://pagevista.appspot.com/tag/{{i}}">{{i}}</a></span>
	 							{% else %}
	 							<span id = "search_people"><a onClick = "popAlert();"><span id = "specific">{{i}}</span></a></span>
	 							{% endif %}
	 						{% endfor %}
	 					{% endif %}
		 			</div>
		 		</div>


 		</div>
 		<div id = "footer">
 			<hr>
			<a href = "http://pagevista.appspot.com/about">About</a>
		</div>		
		<div id = "login_prompt" style = "display:none">
			<div id = "close_button" onClick="closeWindow();"><img src="/static/images/CloseButton.png">
			</div>
			<div id = "login_message">
				You need to <a href="http://pagevista.appspot.com/login">Login</a> to do that.<br><br>
				<form action = "http://pagevista.appspot.com/login" method = "post" name = "login">
					<table align = "center">				
						<tr>
							<td>Username: </td><td><input type = "text" name = "username" value = "{{username}}"></td>
						</tr>
							<td>Password: </td><td><input type = "password" name = "password"></td>
						<div class = "loginpage_error">{{loginpage_error}}</div>
					</table>
					<input type = "submit" value = "login" >
				</form>
			</div>
			<br>
			<br>
			<br>
			<div id = "signup_message">
				Dont have an account? <a href="http://pagevista.appspot.com/signup">Signup</a> and get 
				started
			</div>
		</div>	

	</body>


</html>